<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="awsKey" value="1Y71NDAHWPJG863D9D02"/>
		<add key="awsSecret" value="IKkQtsIx6O/kiYN0t9W9tuC51gr5YhnTq/pWPlmg"/>
		<add key="instanceId" value="i-d9b22ab2"/>
		<add key="stop-minutes" value="5"/>
		<add key="launch-minutes" value="175"/>
	</appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
